.notification-panel{
    position: absolute;
    bottom:-25.2rem; /* .2rem to give some gap between bell and panel */
    left:-23.125rem; /* 1.875 less cause width of bell */
    background-color:white;
    width: 25rem;
    height:25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.notification-panel h1{
    align-self: flex-start;
    padding: 0.5rem 0 1rem 3rem;
}

